.quantity-manage{
    display: flex;
    justify-content: space-around;
}



.quantity{
    color: white;
    max-width: 5px;
    max-height: 5px;
    background-color: black;
    padding-top: .2em;
}

/* .add_to_cart{
    margin-left: 10px;
} */


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .minus_button{
        width: 1px;
    }
}