@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
}


.search-bar{
  margin-bottom: 100px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  margin: 30px 30px 30px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 50%;
  display: flex;
}



.searchTerm{
  width: 70%;
  /* border: 1px solid #FFA500 ; */
  /* padding: 5px;
  height: 50px; */
  border-radius: 5px 0px 0px 5px !important;
  outline: none;
  color: black;
  opacity: 1;
}

.searchTerm:focus{
  /* width: 70%; */
  /* border: 1px solid #FFA500 ; */
  padding: 5px;
  height: 50px;
  border-radius: 5px 0px 0px 5px !important; 
  outline: none;
  color: black;
  background-color: white;
  opacity: 1;
}

.searchButton {
  width: 20%;
  height: 50px;
  border: 1px solid #ec8649 ;
  background: #ec8649  ;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  opacity: .9;
  justify-content: center;
  padding: 0 0 0 0;
}



/* IPAD View */
@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .search {
      width: 75%;
      position: relative;
      display: flex;
    }
}


/* Mobile View */
@media only screen 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .wrap{
      margin: auto;
      width: 90%;
    }
    .search {
      width: 100%;
      position: relative;
      display: flex;
    }

    
}
