@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm{
  width: 100%;
  /* border: 1px solid #FFA500 ; */
  padding: 5px;
  height: 50px;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  color: black;
  min-width: 400px;
  opacity: 1;
}

.searchTerm:focus{
  width: 100%;
  /* border: 1px solid #FFA500 ; */
  padding: 5px;
  height: 50px;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  color: black;
  min-width: 400px;
  opacity: 1;
}

.searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid #ec8649 ;
  background: #ec8649  ;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  opacity: .9;
  justify-content: center;
  padding-right: 70px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  margin: 30px 30px 30px 30px;
  width: 30%;
  position: relative;
  top: 10%;
  left: 43%;
  transform: translate(-50%, -50%);
}