.custom-css-style .elementor-element.elementor-element-38383f6>.elementor-element-populated {
    padding: 0 200px 0 90px;
    
    background-color: #af531d;
    opacity: .9;

}

.footer-div{
    margin-top: 20% !important;

}


@media only screen and (max-width: 671px) {
    .custom-css-style .elementor-element.elementor-element-9229aee {
        padding: 0 0 0 0;
    }
    .custom-css-style .elementor-element.elementor-element-4d8e803>.elementor-element-populated {
        padding: 20px 40px 20px 40px;
    }
    .custom-css-style .elementor-element.elementor-element-8d59401>.elementor-element-populated {
        padding: 20px 40px 20px 40px;
    }
    .custom-css-style .elementor-element.elementor-element-06fc5ca>.elementor-element-populated {
        padding: 20px 40px 20px 40px;
    }
    .custom-css-style .elementor-element.elementor-element-3374de8 {
        padding: 5px 0 5px 0;
    }


    .footer-div{
        margin-top: 40% !important;
    }

}

.footer-section-wrap{
    border-top: 3px solid rgb(175,83,29, .5);
}

.custom-css-style .elementor-element.elementor-element-7e367f8{
    border: 1px solid rgb(175,83,29, .5);

}

.footer-contact-block{
    border-right: 1px solid rgb(175,83,29, .7);
}


.custom-css-style .elementor-element.elementor-element-3374de8 {
    border-top: 1px solid rgb(175,83,29, .1);
}


.custom-css-style .elementor-element.elementor-element-9229aee:not(.elementor-motion-effects-element-type-background), .custom-css-style .elementor-element.elementor-element-9229aee>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: rgb(236,134,73,0.1);
}

.custom-css-style .elementor-element.elementor-element-3374de8:not(.elementor-motion-effects-element-type-background), .custom-css-style .elementor-element.elementor-element-3374de8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: rgb(236,134,73, .4);
}
