.custom-css-style .elementor-element.elementor-element-8a2447b .elementor-heading-title {
    color: #ec8649;
    font-family: arkipelagoregular,Sans-serif;
    font-size: 60px;
    text-transform: none;
    text-shadow: 0 0 25px #190a01;
}

.custom-css-style .elementor-element.elementor-element-83c7b76 .elementor-heading-title {
    color: #ec8649;
    font-family: arkipelagoregular,Sans-serif;
    font-size: 60px;
    text-transform: none;
    text-shadow: 0 0 25px #130700;
}

.custom-css-style .elementor-element.elementor-element-f5e6ae3 .elementor-heading-title {
    color: #ec8649;
    font-family: arkipelagoregular,Sans-serif;
    font-size: 60px;
    text-transform: none;
    text-shadow: 0 0 25px #ec8649;
}

.custom-css-style .elementor-element.elementor-element-46dd71a .elementor-heading-title {
    color: #ec8649;
    font-size: 120px;
    text-transform: none;
    text-shadow: 0 0 25px #080300;
}

.custom-css-style .elementor-element.elementor-element-e2031cf .elementor-heading-title {
    color: #f8e7dd;
    font-family: arkipelagoregular,Sans-serif;
    font-size: 60px;
    text-transform: none;
    text-shadow: 0 0 25px #080300;
}


.custom-css-style .elementor-element.elementor-element-f1718bf .elementor-heading-title {
    color: #ec8649;
    font-size: 90px;
    line-height: 1em;
    text-shadow: 0 0 25px #080300;
}


.custom-css-style .elementor-element.elementor-element-1886b84 .elementor-heading-title {
    color: #ec8649;
    font-family: arkipelagoregular,Sans-serif;
    font-size: 60px;
    text-transform: none;
    text-shadow: 0 0 25px #130700;
}

.horizontal-slide-content-desc {
    padding: 20px 0 20px 0;
    color: #ec8649;
}