/* CartSection 1 */
.custom-css-style .elementor-element.elementor-element-1ef6e22>.elementor-container {
    min-height: 250px;
    /* margin-bottom: auto; */
}


/* Title of CART Page */
.custom-css-style .elementor-element.elementor-element-dcb02db .elementor-heading-title.cart{
    color: #ec8649 ;
    font-size: 60px;
    opacity: 1;
    transform: translate(-300px, 100px);
    font-family: 'arkipelago';
    margin-top: 10px;
    
}


.elementor-row{
    flex-wrap: nowrap;
}

@media only screen 
and (max-device-width: 670px){
    .elementor-row{
        flex-wrap: wrap;
    }

}