
/* CartSection 1 */
.custom-css-style .elementor-element.elementor-element-1ef6e22>.elementor-container {
    min-height: 300px;
}


/* Title of CART Page */
.custom-css-style .elementor-element.elementor-element-dcb02db .elementor-heading-title.cart{
    color: white ;
    font-size: 50px;
    opacity: 0.7;
    margin-bottom: 30px;
    transform: translate(0, 50px);
}


.elementor-row{
    flex-wrap: nowrap;
}

@media only screen 
and (max-device-width: 670px){
    .elementor-row{
        flex-wrap: wrap;
    }

}