/* CartSection 1 */
.custom-css-style .elementor-element.elementor-element-1ef6e22>.elementor-container {
    min-height: 250px;
    /* margin-bottom: auto; */
}


/* Title of CART Page */
.custom-css-style .elementor-element.elementor-element-dcb02db .elementor-heading-title.cart{
    color: #ec8649 ;
    font-size: 50px;
    opacity: 1;
    font-family: 'arkipelago';
    padding: 0%;
    margin-top: 15%;
    text-align: left;
    margin-left: 5%;
    
}


.elementor-row{
    flex-wrap: nowrap;
}

@media only screen 
and (max-device-width: 670px){
    .elementor-row{
        flex-wrap: wrap;
    }

    .custom-css-style .elementor-element.elementor-element-dcb02db .elementor-heading-title.cart{
        font-size: 40px;
        margin-left: 15%;
        margin-top: 25%;
    }

}