/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}

@font-face {
 font-family: "saman";
 src: local("./fonts/saman.ttf"),
 url("./fonts/saman.ttf") format("truetype");
 font-weight: bold;
}

.font-saman {
 font-family: "saman";
}

.myDiv {
  border-style: solid;
  border-width: 0 0 2px 0;
  padding-bottom:5px;
  margin-bottom:20px;
  width:fit-content;
  border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;text-align:center;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
  border-image-slice: 1;
  width:100%; position: relative;
  box-sizing: border-box;
  margin: auto;
  
  color:black;
  padding-bottom:4px;
}


  





#background-video{
  width:80VW;
  height: 40%;
  position: fixed;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.6;
  border: 1px solid black;
  border-radius: 1.5em;
}



@media screen and (max-width:767px) {
  #background-video{
    width:92vw;
    height: 20%;
  }
}

@media screen and (max-width:405px) {
  #background-video{
    width:89vw;
    height: 20%;
  }
}

@media screen and (max-width:388px) {
  #background-video{
    width:86vw;
    height: 20%;
  }
}

@media screen and (max-width:370px) {
  #background-video{
    width:84vw;
    height: 20%;
  }
}

@media screen and (max-width:365px) {
  #background-video{
    width:82%;
    height: 20%;
  }
}

@media screen and (max-width:360px) {
  #background-video{
    width:80%;
    height: 20%;
  }
}

@media screen and (max-width:347px) {
  #background-video{
    width:76%;
    height: 20%;
  }
}

@media screen and (max-width:332px) {
  #background-video{
    width:70%;
    height: 20%;
  }
}

@media screen and (max-width:310px) {
  #background-video{
    width:90vw;
    height: 20%;
  }
}

@media screen and (min-width:767px) {
  #background-video{
    width:92%;
    height: 40%;
  }
}

@media screen and (min-width:1025px) {
  #background-video{
    width:83vw;
    height: 48%;
    margin:auto
  }
}

@media screen and (min-width:1196px) {
  #background-video{
   
    width:88vw;
    height: 48%;
  }
}

@media screen and (min-width:1246px) {
  #background-video{
    width:82vw;
    height: 48%;
  }
}

@media screen and (min-width:1345px) {
  #background-video{
    width:85vw;
    height: 62vh;
    right:50% ;
    margin:auto
  }
}

@media screen and (min-width:1390px) {
  #background-video{
    width:82vw;
    height: 48%;
    right:50% ;
    margin:auto
  }
}

@media screen and (min-width:1427px) {
  #background-video{
    width:82vw;
    height: 48%;
    right:50% ;
    margin:auto
  }
}

@media screen and (min-width:1427px) {
  #background-video{
    width:80vw;
    height: 48%;
    right:50% ;
    margin:auto
  }
}

@media screen and (min-width:1473px) {
  #background-video{
    width:78vw;
    height: 48%;
    right:50% ;
    margin:auto
  }
}

@media screen and (min-width:1524px) {
  #background-video{
    width:75vw;
    height: 48%;
    right:50% ;
    margin:auto
  }
}

@media screen and (min-width:1582px) {
  #background-video{
    width:73vw;
    height: 48%;
    right:50% ;
    margin:auto
  }
}

@media screen and (min-width:1624px) {
  #background-video{
    width:71vw;
    height: 48%;
    right:50% ;
    margin:auto
  }
}

@media screen and (min-width:1673px) {
  #background-video{
    width:70vw;
    height: 48%;
    right:50% ;
    margin:auto
  }
}


@media screen and (min-width:1695px) {
  #background-video{
    width:69vw;
    height: 48vh;
    right:50% ;
    margin:auto
  }
}

@media screen and (min-width:1738px) {
  #background-video{
    width: 67vw;
    height: 48%;
    right:50% ;
    margin:auto
  }
}


@media screen and (min-width:1786px) {
  #background-video{
    width:65vw;
    height: 60vh;
    margin:auto;
  }
}

@media screen and (min-width:1813px) {
  #background-video{
    width:65vw;
    height: 48%;
    right:50% ;
    margin:auto
  }
}

@media screen and (min-width:1908px) {
  #background-video{
    width:61.25vw;
    height: 65vh;
    right:50% ;
    margin:auto;
    margin-top:7vh;
  }
}

@media screen and (min-width:1922px) {
  #background-video{
    width:55vw;
    height: 48%;
    right:50% ;
    margin:auto
  }
}

@media screen and (min-width:2161px) {
  #background-video{
    width:52vw;
    height: 48%;
    right:50% ;
    margin:auto
  }
}

@media screen and (min-width:2201px) {
  #background-video{
    width:47vw;
    height: 48%;
    right:50% ;
    margin:auto
  }
}

@media screen and (min-width:2273px) {
  #background-video{
    width:47vw;
    height: 48%;
    right:50% ;
    margin:auto
  }
}



@media screen and (max-width:1800px) {
  .fix{
     text-align: center;
     
  }
}

@media screen and (min-width:768px) {
  .boxed{
    border: 1px solid white;
    border-radius: 0.8em;
  }

 .boxed:hover{
  transform: scale(1.05);
  transition-duration: 0.75s;
}
}

@media screen and (max-width:767px) {
  .promo1{
    margin-right: 10%;
    width: 70vw;
    height: 120vh;
  }
}

@media screen and (max-width:363px) {
  .promo1{
    margin-right: 15%;
    width: 90vw;
    height: 140vh;
  }
}