/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ec8649;
  border-radius: 10px;
}

@font-face {
 font-family: "saman";
 src: local("./fonts/saman.ttf"),
 url("./fonts/saman.ttf") format("truetype");
 font-weight: bold;
}

.font-saman {
 font-family: "saman";
}

@font-face {
 font-family: "arkipelago";
 src: local("fonts/Arkipelago.otf"),
 url("fonts/Arkipelago.otf") format("truetype");
 font-weight: bold;
}

.font-Arkipelago {
 font-family: "Arkipelago";
}

.myDiv {
  border-style: solid;
  border-width: 0 0 2px 0;
  padding-bottom:5px;
  margin-bottom:20px;
  width:fit-content;
  border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;text-align:center;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
  border-image-slice: 1;
  width:100%; position: relative;
  box-sizing: border-box;
  margin: auto;

  color:black;
  padding-bottom:4px;
}







video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
   display: block;

   opacity: 0.7;
}

.intro{
  position: relative;
  text-align: center;
   display: flex;
   flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 38vh;
  font-size: 2em;
  white-space: nowrap;
}

@media screen and (max-width:505px){
  .intro{
    font-size: 1.5em;
  }
}

@media screen and (max-width:400px){
  .intro{
    font-size: 1.2em;
  }
}


@media screen and (max-width:1800px) {
  .fix{
     text-align: center;

  }
}

@media screen and (min-width:1786) {
  .myDiv{
    right:0%;
  }
}

@media screen and (min-width:768px) {
  .boxed{
    border: 5px solid white;
    border-radius: 0.8em;
  }

 .boxed:hover,#itemLabel:hover{
  transform: scale(1.02);
  transition-duration: 0.2s;

}
}

@media screen and (max-width:767px) {
  .promo1{
    margin-right: 10%;
    width: 70vw;
    height: 120vh;
  }
}

@media screen and (max-width:363px) {
  .promo1{
    margin-right: 15%;
    width: 90vw;
    height: 140vh;
  }
}

#navi button{
  font-family:'Inconsolata', 'Helvetica', 'Arial',         sans-serif;
  font-size: inherit;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration:none;
  /*Button Color & Border*/
  border: 4px solid white ;
  color: white;
  background: transparent;
  outline: none;
  /*Position, Display, Size*/
  position: relative;
  display: inline-block;
  padding: 15px 10px 14px;
  cursor: pointer;
  max-width: fit-content;
  width:auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  font-size: 0.55em;
  border-radius: 1em;

  /* -webkit-box-shadow: 0px 6px 0px #d35400; */
  -moz-box-shadow: 0px 6px 0px #d35400;
  /* box-shadow: 0px 6px 0px #d35400; */
}

#navi button:after {
        /*Make a:after be as big as button*/
        position: absolute;
        width: 100%;
        height: 100%;
        /*Give a:after Border & Background color*/
        border: 2px solid black;
        background-color: black;
        /*Decide Location of a:after..this gives a           bottom right shadow*/
        left: 4px;
        top: 4px;
        /*Place a:after behind button*/
        z-index: -1;
        content: '';
        /*Animation/Transition Speed*/
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;


         }
#navi button:hover {
          top:2px;
          left:2px;
          background-color:rgb(0,255,127, .5);
          transition-duration: 0.9s;
            }
#navi button:hover:after   {
         top: -2px;
         left: -2px;
            }
